<h1>Make an initial deposit</h1>
<form {{action "save" model on="submit"}}>
		{{view Balanced.FormValidationErrorsView model=model}}
		{{view Balanced.SelectFormFieldView
			content=initialAmounts
			labelText="How much do you want to add to your balanced?"
			model=model
			field="dollar_amount"}}

		{{view Balanced.TextFormFieldView
			labelText="Credit card number"
			model=model
			field="number"
		}}

		{{view Balanced.TextFormFieldView
			labelText="Security code"
			model=model
			field="cvv"
		}}

		{{view Balanced.TextFormFieldView
			labelText="U. S. postal code"
			model=model
			field="postal_code"
		}}

		{{#view Balanced.BaseFormFieldView
			labelText="Card's expiration date"
			model=model
			field="expiration_date"
		}}
			{{view Ember.Select
				content=creditCardYears
				viewName="inputElement"
				value=model.expiration_year
				class="span2"}}
			{{view Ember.Select
				content=creditCardMonths
				value=model.expiration_month
				class="span2"}}
		{{/view}}
		<hr>
		<div class="pull-right">
			<button type="submit">Submit</button>
		</div>
</form>
